html.light {
  --toast-color: #FDFDFD;
  --text-color: 65, 65, 65;
  --secondary: 255, 241, 106;
  --secondary-hex: #FFF16A;
  --primary: 153, 27, 27;
  --primary-hex: #FF4066;
  --selection-color: rgba(255, 241, 106, 0.5);
  --text-color-primary: rgb(153 27 27 / 1);
  --primary-opacity: rgba(153, 27, 27, 0.5);
  --card-bg: rgba(111, 111, 111, 0.5);

  .noise {
    width: 600%;
    height: 600%;
    left: -100%;
    top: -100%;
    background: url("/assets/noise.webp"), #D9D9D9;
    opacity: 50%;
    position: fixed;
    animation: noiseFX 2s steps(6) infinite;
  }
}

