@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themes/dark";
@import "themes/light";


@font-face {
  font-family: 'Acorn';
  src: url("/assets/fonts/Acorn/Acorn-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

.acorn {
  font-family: 'Acorn', sans-serif;
}

::selection {
  background-color: var(--selection-color)!important;
}


/* region Background */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 55s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: -25%;
  width: 45%;
  height: 55%;
  animation-delay: 0s;
  background: var(--sunny-hex);
  border-radius: 100%;
  filter: blur(200px);
}

.circles li:nth-child(2){
  left: 65%;
  width: 85%;
  height: 85%;
  animation-delay: 4s;
  animation-duration: 52s;
  background: var(--primary-hex);
  border-radius: 100%;
  filter: blur(300px);

}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-100vh) rotate(720deg);
  }
  100%{
    transform: translateY(0) rotate(1440deg);
  }
}

.noise {
  width: 600%;
  height: 600%;
  left: -100%;
  top: -100%;
  background: url("/assets/noise.webp"), #D9D9D9;
  opacity: 50%;
  position: fixed;
  animation: noiseFX 2s steps(6) infinite;
}

@keyframes noiseFX {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}

/* endregion */


.card {
  box-shadow: 0 8px 32px 0 var(--primary-opacity);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-nav-item {
  box-shadow: 0 8px 32px 0 var(--primary-opacity);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-img {
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 8px 32px 0 var(--card-bg);
  border-right: none;
}

.card-nav {
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 8px 32px 0 #bebebe;
}

.card-contact {
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  box-shadow: 0 8px 32px 0 #bebebe;
}

.z-bg {
  z-index: -1000;
}

.z-circle {
  z-index: -100;
}

.btn-front {
  transition: transform 0.3s ease;
}

.btn-front:hover {
  transform: scale(1.03);
}

.success-toast {
  background-color: #4CAF50;
  color: white;
}